@model List<Proje.Models.PersonalViewModel>

@{
    ViewData["Title"] = "Personal List";
    var succedmessage = TempData["Success Message"]?.ToString();
    var errormessage = TempData["Error Message"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(succedmessage))
{
    <div class="alert alert-succes">
        <strong>Success! </strong>@succedmessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert">  </button>
    </div>

}
else if (!string.IsNullOrWhiteSpace(errormessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@errormessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert">  </button>
    </div>

}


<form>
    <button asp-action="add" asp-controller="Personal" class="btn btn-primary">Add Personal</button>
    <table class="table table-responsive table-hover table-bordered ">
        <thead>
            <tr class="table-active">

                <th class="text-center">ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Gender</th>
                <th class="text-center">Title</th>
                <th class="text-center">Phone Number</th>
                <th class="text-center">Action</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var personal in Model)
                {
                    <tr>
                        <td class="text-center">@personal.PersonalId</td>
                        <td class>@personal.NameSurname</td>
                        <td class="text-center">@personal.Gender</td>
                        <td class="text-center">@personal.Title</td>
                        <td class="text-center">@personal.PhoneNumber</td>

                        <td class="text-center">
                            <div class="btn btn-group-sm ">
                                <a asp-controller="Personal" asp-action="Edit" asp-route-id="@personal.PersonalId" class="btn btn-primary ">Edit</a>
                                <a asp-controller="Personal" asp-action="Delete" asp-route-id="@personal.PersonalId" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div>
                            NO PERSONAL AVAILABLE AT THIS MOMENT!
                    </td>
                </tr>

            }
        </tbody>
    </table>
</form>
